//font family
$font-main: 'Montserrat', sans-serif;

//font weight
$fw-bolder: 800;
$fw-bold: 700;
$fw-med: 600;
$fw-reg: 500;

//font size
$font-body: 1rem;

//media
$xxl: 1900px;                
$ul: 1340px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0;
